#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=vda
# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.67.3 --ip=192.168.67.121 --nameserver=202.96.128.86 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=kvm01.localdomain

# Root password
rootpw --iscrypted $6$Eg36gHDn4.pohzqW$/ipauHpJtzF9806wgiqgVgXzYATLK7EnC0UfZmiKcNrVVB7n9C4W1XhXbfeOMH//Ny.JhHX7bBzlG4ZUXjaGm1
# System timezone
timezone America/New_York --isUtc
user --name=cnsn --password=$6$CudFRFF8gknCE2od$8Ce7WHlD415OMhPMYzNYA625dxNQ6oLgmBBrXrpCW2nCQSiFxkASWLo396kTdMawFte3WDfGW0FDcXsuyjCH1. --iscrypted --gecos="cnsn"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /home --fstype="xfs" --ondisk=vda --size=20480
part /boot --fstype="xfs" --ondisk=vda --size=512
part /var --fstype="xfs" --ondisk=vda --size=10240
part swap --fstype="swap" --ondisk=vda --size=8192
part / --fstype="xfs" --ondisk=vda --size=20480
part /usr --fstype="xfs" --ondisk=vda --size=42492

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@development
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
